* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 196, 0);
  margin-bottom: 100px;
}

#banner {
  background-color: black;
  height: 200px;
}

#banner h1 {
  color: rgb(255, 196, 0);
  text-align: center;
  font-size: 4em;
  font-weight: 800;
  padding: 60px 0;
}

#top-link {
  background-color: rgb(255, 181, 0);
  text-align: center;
  height: 100px;
  padding: 20px 0 0 0;
}

.link {
  text-decoration: none;  
  color: rgb(0, 102, 255);
  font-size: 2.4em;
  font-weight: 500;
  margin-right: 10px;
}

.link:hover {
  color: white;
}

#top-desc {
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 2.4em;
  font-weight: 800;
}

.table {
  background-color: rgb(255, 242, 129);
  font-size: 1.5em;
  font-weight: 600;
  width: 70%;
  margin: 0 auto;
}

th {
  padding-left: 150px !important;
  border-bottom: 5px solid black;
  height: 25px;
}

.link-tb {
  text-decoration: none;  
  color: rgb(0, 102, 255);
  padding-right: 10px;
}

.link-tb:hover { 
  color: white;
}

#form {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 10px auto 0 auto;
  font-size: 1.5em;
  font-weight: 600;
}

input {
  border: 5px solid black;
}

.form-btn {
  background-color: white;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 600;
}

.form-btn:hover {
  color: rgb(0, 102, 255);
  border: 5px solid rgb(0, 102, 255);
}

#input-btn {
  text-align: center;
  margin-top: 40px;
}

#top-desc, h3 {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 2.4em;
  font-weight: 800;
}

h3 {
  margin-bottom: 45px;
}

#pet-info {
  width: 500px;
  margin: 50px auto 0 auto;
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
}

#nav {
  background-color: rgb(255, 166, 0);
  text-align: center;
  padding: 25px 0;
}

.link-btn {
  border: none;
  background-color: rgb(255, 166, 0);
}

.link-btnn:hover {
  border: none;
}

#loggedin-link {
  background-color: rgb(255, 181, 0);
  text-align: center;
  height: 100px;
  padding: 20px 0 0 0;
}

#button button {
  border: none;
  background-color: rgb(255, 242, 129);
  color: rgb(0, 102, 255);
  font-size: 1em;
  font-weight: 600;
}

#button button:hover {
  color: white;
}

#flex-1 {
  display: flex;
}

#flex-2 {
  display: flex;
  border: none;
}

td {
  padding-left: 10px;
}

.more {
  margin-right: 100px;
}

#adopt-form {
  text-align: center;
  margin-top: 45px;
}

#button-detail-delete {
  text-align: center;
}

#button-detail-delete button {
  background-color: white;
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: 600;
  border: 5px solid black;
  margin-top: 30px;
}

#button-detail-delete button:hover {
  color: rgb(0, 102, 255);
  border: 5px solid rgb(0, 102, 255);
}

.bold {
  font-weight: 800;
}

#img-field {
  margin-top: 50px;
} 
#img-field p {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;
}

#img-field input[type="text"] {
  display: block;
  margin : 0 auto;
  font-size: 1.5em;
  width: 600px;
}

#img-field input[type="submit"] {
  color: black;
}

img {
  margin-bottom: 35px;
  width: 90%;
}

#account-page {
  display: flex;
  justify-content: space-evenly
}

#account {
  height: 750px;
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  justify-content: space-between;

}

.cont-1 {
  border: 5px solid black;
}

.cont-2 {
  background-color: rgb(255, 242, 129);
  border: 5px solid black;
}

#diff th, #diff td {
  padding-left: 150px;
  border-bottom: 1px solid black;
  font-size: 1em;
}

#hello {
  text-align: center;
  padding: 45px 0 ;
}

#table {
  border: 5px solid  black;
}

#table td {
  padding-left: 150px !important;
}

.delete {
  border: 5px solid black;
  padding: 15px 20px;
  font-weight: 600;
  background-color: white;
  margin: 50px 0 100px 0;
  font-size: 1.5em;
}

.delete:hover {
  color: rgb(0, 102, 255);
  border: 5px solid rgb(0, 102, 255);
}

#acct {
  text-align: center;
  padding: 30px 0;
}

.btn-btn-primary {
  padding: 10px 20px;
  margin-top: 40px;
}

#logreg {
  text-align: center;
}

.btn-btn-primary:hover {
  color: rgb(0, 102, 255);
  border: 5px solid rgb(0, 102, 255);
}


@media only screen and (max-width: 1700px) {
  #diff {
    font-size: 1em;
  }

}

@media only screen and (max-width: 1500px) {
  #diff {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 1400px) {
  #diff th, #diff td {
    padding-left: 100px !important;
  }

  .container {
    justify-content: space-evenly;
  
  }

}

@media only screen and (max-width: 1300px) {
  #diff th, #diff td {
    padding-left: 50px !important;
  }
}

@media only screen and (max-width: 870px) {
  .table {
    font-size: 1em;
  }
  th {
    padding-left: 15% !important; 
  }
  #table td {
    padding-left: 15% !important;
  }

  #top-desc {
    font-size: 1.8em;
  }

  #form {
    width: 500px;
    justify-content: space-between;
  }
  #img-field input[type="text"] {
    width: 420px;
    height: 35px;
  }

  #form {
    font-size: 1em;
  }

  #img-field p {
    font-size: 1em;
  }

  #row {
    margin: 0 40px;
    font-size: 1em;
  }

  #row input {
    width: 100%;
    font-size: 1em;
  }
  #table th, td {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 800px) {
  #diff th, #diff td {
    font-size: 0.5em
  }
  #diff th, #diff td {
    padding-left: 25px !important;
  }
  #table th, td {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 700px) {
  th {
    padding-left: 10% !important; 
  }
  #table td {
    padding-left: 10% !important;
  }
  #top-desc {
    font-size: 1.4em;
  }
  .link {
    font-size: 1.8em;
  }
  #loggedin-link {
    padding: 30px 0 0 0;
  }
  #banner h1 {
    font-size: 3em;
    padding: 70px 0;
  }
  #top-link {
    padding: 30px 0 0 0;
  }

  #row input {
    width: 100%;
  }

  #img-field input[type="text"] {
    width: 420px;
  }

  h3 {
    font-size: 1.8em;
  }

  p {
    font-size: 0.8em;
  }

}

@media only screen and (max-width: 600px) {
  #table th, td {
    font-size: 0.5em;
  }
}


@media only screen and (max-width: 500px) {
  .table {
    font-size: 0.8em;
  }
  th {
    padding-left: 5% !important; 
  }
  #table td {
    padding-left: 5% !important;
  }

  #top-desc {
    font-size: 1em;
  }
  .link {
    font-size: 1.5em;
  }

  #form {
    width: 300px
  }

  #row {
    margin: 0 10px;
  }

  #row input {
    width: 100%;
  }

  #img-field input[type="text"] {
    width: 280px;
  }

  #pet-info {
    width: 300px;
  }

  #diff th, #diff td {
    font-size: 0.35em;
    padding-left: 25px !important;
  }

}

@media only screen and (max-width: 450px) {
  #diff th, #diff td {
    font-size: 0.34em;
    padding-left: 25px !important;
  }
}




